@media all and (max-width: 1090px) {
	.nav-number {
		display: none;
	}
	.nav__list {
		/* margin-left: 5rem; */
		display: flex;
		gap: 1.92rem;
		font-weight: 500;
	}
	.footer-menu {
		margin-left: 0rem;
	}
	.footer__list > li {
		font-size: 0.875rem;
	}
	.footer-contact > p {
		font-size: 0.875rem;
	}
}

@media all and (max-width: 900px) {
	.nav__list {
		gap: 1.5rem;
	}
	.nav__list > li {
		font-size: 0.8rem;
	}
	.ball_red {
		left: 40vw;
	}
	.footer__inner {
		flex-wrap: wrap;
	}
	.footer-contact {
		text-align: left;
	}
	.footer__list > li {
		font-size: 1rem;
	}
	.footer-contact > p {
		font-size: 1rem;
	}
	.footer-social > img {
		margin-left: 0;
		margin-right: 14px;
		margin-bottom: 18px;
	}
}

@media all and (max-width: 800px) {
	.content-left__title {
		font-size: 2.5rem;
		margin-bottom: 30px;
	}
	.content-left__text {
		font-size: 1rem;
	}
	.nav-contact {
		display: none;
	}
	.footer__list > li {
		font-size: 0.875rem;
	}
	.footer-contact > p {
		font-size: 0.875rem;
	}
}

@media all and (max-width: 700px) {
	.container {
		padding: 2rem 2rem 1.3rem 2rem;
	}
	header {
		margin-bottom: 4rem;
	}
	main {
		margin-bottom: 5rem;
	}
	.content-left__title {
		font-size: 2.25rem;
		margin-bottom: 20px;
	}
	.content-right__title {
		margin-bottom: 1.6rem;
		font-size: 1rem;
	}
	.content-right-info {
		width: 270px;
		gap: 25px 25px;
		margin-bottom: 3rem;
		justify-content: space-between;
	}
	.content-right-info__title {
		font-size: 1rem;
		margin-bottom: 6px;
	}
	.content-right-info__text {
		font-size: 0.8rem;
	}
	.content-right-info__block {
		width: 120px;
		text-align: right;
	}
	.content-right__btn {
		width: 200px;
		height: 61px;
		font-size: 0.9rem;
	}
	.nav-left > img {
		width: 120px;
	}
	.nav-info {
		display: none;
	}
	.ball_red_big {
		display: none;
	}
	.ball_red {
		top: 400px;
	}
	.footer__list > li {
		font-size: 0.775rem;
	}
	.footer-contact > p {
		font-size: 0.775rem;
	}
	.purple_blur {
		left: 50vw;
	}
}

@media all and (max-width: 650px) {
	.content-left__title {
		font-size: 2rem;
	}
	.nav__list {
		margin-left: 1.7rem;
	}
	.nav-left > img {
		width: 100px;
	}
}

@media all and (max-width: 600px) {
	.nav-left > img {
		display: none;
	}
	.navbar {
		display: block;
	}
	.nav__list {
		width: 100%;
		margin-left: 0;
		justify-content: space-between;
		gap: 0;
	}
	main {
		align-items: center;
		flex-direction: column;
	}
	.content-left {
		width: 100%;
	}
	.content-left__title {
		font-size: 2.5rem;
	}
	.content-right {
		align-items: center;
		width: 100%;
	}
	.content-right__title {
		text-align: left;
		font-size: 1.2rem;
	}
	.content-right-info__block {
		text-align: left;
		width: 160px;
	}
	.content-right-info {
		width: 400px;
	}
	.content-right-info__title {
		font-size: 1.2rem;
	}
	.content-right-info__text {
		font-size: 1rem;
	}
	.footer__inner {
		flex-direction: column;
	}
	.footer__inner > div {
		margin-bottom: 2rem;
	}
	.footer__title {
		font-size: 1.2rem;
	}
	.footer__list > li {
		font-size: 1rem;
	}
	.footer-contact > p {
		font-size: 1rem;
	}
	.ball_red {
		top: 600px;
		left: 10vw;
	}
	.red_blur {
		top: 500px;
	}
	.ball_purple {
		display: none;
	}
	.ball_purple_mobile {
		display: block;
	}
	.purple_blur {
		top: 400px;
		left: auto;
		right: 0;
	}
}

@media all and (max-width: 500px) {
	.container {
		padding: 0;
	}
	.navbar {
		background-color: black;
		padding: 20px 15px;
	}
	.content-right-info {
		display: none;
	}
	.content-right-info_mobile {
		display: flex;
		flex-wrap: wrap;
		gap: 14px 20px;
	}
	.content-right__title > span:nth-child(1) {
		text-transform: lowercase;
	}
	.content-right__title > span:nth-child(2) {
		text-transform: lowercase;
	}
	.content-right__btn {
		display: none;
	}
	header {
		margin-bottom: 40px;
	}
	.nav__list {
		overflow-x: auto;
		scrollbar-width: none;
		gap: 0 22px;
	}

	.nav__list::-webkit-scrollbar {
		display: none;
	}

	.content-left {
		margin-bottom: 45px;
	}
	main {
		padding: 0 20px;
	}
	footer {
		background-color: black;
		padding: 40px 15px;
	}
	.footer-conf {
		align-items: flex-start;
	}
	.red_blur {
		z-index: -1;
	}
	.ball_red {
		top: 400px;
		left: 30px;
		width: 100px;
	}
	.ball_purple_mobile {
		top: 236px;
	}
	.purple_blur {
		top: 107px;
	}
}

@media all and (max-width: 430px) {
	.content-left__title {
		font-size: 2.25rem;
	}
	.content-left__text {
		font-size: 1.125rem;
	}
	.content-left__title {
		margin-bottom: 16px;
	}
	.content-left {
		margin-bottom: 29px;
	}
	.content-right__title {
		font-size: 1.125rem;
		margin-bottom: 1.3rem;
	}
	.footer__title {
		font-size: 0.75rem;
	}
	.footer__list > li {
		font-size: 0.875rem;
	}
	.footer-contact > p {
		font-size: 0.875rem;
	}
	.footer-number {
		margin-bottom: 10px;
	}
	.content-right-info__text_mobile {
		font-size: 1.1rem;
	}
	main {
		padding: 0 15px;
	}
	.footer-social > img {
		width: 20.02px;
		margin-bottom: 10px;
	}
	footer {
		padding: 40px 15px 60px;
	}
}

@media all and (max-width: 360px) {
	.content-right-info__text_mobile {
		font-size: 0.8125rem;
	}
	main {
		margin-bottom: 3.7rem;
	}

	.ball_red {
		top: 438px;
		left: 8px;
	}
	.ball_purple_mobile {
		top: 269px;
	}
	.footer__inner > div {
		margin-bottom: 1.3rem;
	}
	.footer-menu__list > ul:nth-child(1) {
		width: 125px;
		margin-right: 45px;
	}
	.footer__inner {
		margin-bottom: 29px;
	}
}
